html, body {
    width: 100%;
    height: 100%;
    
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #333; /* A slightly nicer shade of black */
}

.container {
    width: 80%;
    position: absolute;
    left: 10%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* Default text stuff */

a[href] {
    color: #428bca;
    text-decoration: none;
}

a[href]:hover {
    color: #3876a7;
}

/* Buttons and stuff */

a[href].button {
    margin-right: 5px;
    
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    color: #428bca;
    position: relative;
    top: 20px;
    right: 13px;
    padding: 10px;
}


/* Header stuff */
.header {
    height: 60px;
    
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #ddd;
}

.header h3 {
    position: relative;
    top: -10px;
    color: #777;
    font-size: 1.5em;
}

.header a:hover {
    background: #eee;
}

.header a.active {
    background: #428bca;
    color: #fff;
}

/* Intro */

.intro {
    margin-left: auto;
    margin-right: auto;
    
    width: 70%;
    border-radius: 10px;
    
    background: #eee;
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 50px 30px 30px;
}

.intro h1 {
    text-align: center;
    color: #333;
    font-size: 3em;
}

.intro p {
    color: #555;
    text-align: justify;
    font-size: 1.35em;
    line-height: 1.55em;
}

.intro a[href].button {
    position: relative;
    
    left: 10px;
    top: -5px;
    
    display: block;
    
    background: #5ac46a;
    color: #fff;
    width: 200px;
    height: 30px;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
    font-size: 1.5em;
    font-weight: 350;
}

.intro sup {
    font-size: 0.6em;
}

/* Columns: the-why and the-how */

.newspaper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.the-why, .the-how {
    background: #fafafa;
    line-height: 1.5em;
    border-radius: 6px;
    padding-left: 14px;
    padding-right: 14px;
    width: 46%;
    text-align: justify;
    margin-bottom: 70px;
}

.the-why h3, .the-how h3 {
    color: #838383;
}

.the-why { float: left; }

.the-how { float: right; }


/* Footers and stuffs */

.footer {
    border-top-color: #ddd;
    border-top-style: solid;
    border-width: 1px;
    
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer p {
    color: #999;
    position: relative;
    top: -5px;
}